* {
    box-sizing: border-box;
    margin: 0 auto;
}

div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.box-1 {
    background-color: #ccc;
    max-width: 1500px;
    min-width: 320px;
    height: auto;
    padding: 50px;
}

