* {
    box-sizing: border-box;
    margin: 0 auto;
}

div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

div > div {
    flex: 0 0 200px;
    height: 50px;
    margin: 0;

}

body {
    position: relative;
}
.sub-box-3 {
    background-color: #0000ff;
    position: absolute;
    top: 0;
    left: 0;
}