* {
    box-sizing: border-box;
    margin: 0 auto;
}

div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: block;
}

div > div {
    width: 50px;
    height: 50px;
    margin: 0;
}

.box-1 {
    background-color: #ff00ff;
    border: 10px solid blue;
    padding: 5px;
}

.box-2 {
    background-color: #ffff00;
    border: 10px solid blue;
    padding: 5px;
}