/* COMMON */
@media only screen
and (min-device-width: 320px) {
    * {
        margin: 0 auto;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
        font-weight: 500;
    }

    body {
        background-color: #ffffff;
        color: #333;
    }
    header {
        background-color: #ff3f00;
    }
    img {
        max-width: 100%;
    }

    li {
        list-style: none;
    }
}

/* MOBILE*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px) {
    header figure {
        max-width: 100px;
        padding: 10px;
    }
    header .left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
    }

    header .left span {
        display: none;
    }
}

/* TABLET */
@media only screen
and (min-device-width: 768px) {
    header {
        color: #ffffff;
    }
    .header-container,
    main {
        display: flex;
        flex-flow: column;
        max-width: 1500px;
    }

    header figure {
        max-width: 100px;
        padding: 10px;
    }
    header .left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
    }

    header .left span {
        display: flex;
        align-items: center;
    }

    nav {
        width: 90%;
    }
    nav ul {
        align-items: flex-end;
        display: flex;
        height: 100%;
        justify-content: flex-end;
    }
    nav ul li {
        flex: 0 1 100px;
        margin: 0;
    }
}

/* DESKTOP */
@media only screen
and (min-device-width: 1024px) {
    nav .level-1 li {
        position: relative;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }

    nav .level-1 li:hover {
        background-color: #8b2401;
        width: 100%;
    }

    nav .level-1 > li:hover ul.level-2 {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        height: auto;
        background-color: #ff3f00;
        padding: 0;
    }

    nav ul.level-2 {
        display: none;
    }

    /*nav ul.level-2 > li:before {
        content: url("img/star.svg");
        color: blue;
    }*/
}

