* {
    box-sizing: border-box;
    margin: 0 auto;
}

div {
    border: 1px solid black;
}
.box-1 {
    background-color: #ccc;
    max-width: 1500px;
    min-width: 320px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div > div {
    /*flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 50px;*/
    flex: 0 0 200px;
    height: 50px;
    margin: 0;

}

.sub-box-2 {
    font-size: 18px;
}