/*
* hoja de estilo externa para pruebas
*/

* {
    font-family: Roboto, sans-serif;
}
article {
    color: #545454;
}

h2 {
    font-weight: 600;
}

#unico {
    background-color: #f8e403;
}

/*.logo {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background-color: #FF00FF;
}*/
h2 {
    color: red;
}

main .section h2 {
    color: #0000ff;
}



/*ejemplo
<div class="logo" id="logo-unique">
               LOGO
           </div>

*/
nav > div > div {
    color: blue;
}

div {
    color:yellow;
}

div {
    color: green;
}


/*
BERFORE
*/

/*
AFTER
*/



/*
h2 {
    color:green;
    font-size: 40px
}
h3 {
    color: blue;
    font-size: 35px;
    font-weight: 600;
}

p {
    color: #333;
    font-size: 18px;
    font-family: sans-serif;
}*/

